@charset "UTF-8";


$icon-spacing: 1px;
$icon-layout: horizontal;
@import "txtImg_title/*.png";
@import "txtImg_futures/*.png";
@include all-txtImg_title-sprites;
@include all-txtImg_futures-sprites;

.txtImg_title {
     &-title {
		@each $name in team, news, search, index_row1, lu, solution, cp, cp2, cpComputer1, cpComputer2, cpComputer3, chatroom, futures2, service4, service3, service2, service1, concordInf, map, monthlyreport {
		   &-#{$name} {
		        @include wh2(txtImg_title-sprite-width(title-#{$name}) txtImg_title-sprite-height(title-#{$name}));
		        margin: auto;
		   }
		}
		&-news {
			@include bg(transparent);
			margin: 2em auto;
		}
		&-cp {
			margin-bottom: 2em;
		}
		&-cp2 {
			margin: 2em auto;
		}
		&-cpComputer1, &-cpComputer2, &-cpComputer3 {
			margin-bottom: 2em;
		}
		&-concordInf {
			margin: 0 0 1.2em;
		}
		&-map {
			margin: 3em 0 1.2em 2em;
		}
     }
}
.txtImg_futures-futures {
	@each $name in 1, 2, 3 {
		&-#{$name} {
			@include wh2(txtImg_futures-sprite-width(futures-#{$name}) txtImg_futures-sprite-height(futures-#{$name}));
		}
		&-#{$name}active {
			@include wh2(txtImg_futures-sprite-width(futures-#{$name}active) txtImg_futures-sprite-height(futures-#{$name}active));
		}
	}
}



.txt_img {
	&-goback {
		@include wh2(114 28);
		@include bg-t(-253, -31);
	}
	&-getmore {
		@include wh2(133 29);
		@include bg-t(-97, 0);
	}
	&-BusinessDivisons {
		&[data-lang="en"] {
			@include wh2(396 36);
			@include bg-t(0, -102);
		}
		&[data-lang="tw"] {
			@include wh2(310 33);
			@include bg-t(0, -139);
		}
	}
	&-morechatroom {
		@include wh2(154 29);
		@include bg-t(-97, -30);
	}
	&-goProdList {
		@include wh2(195 28);
		@include bg-t(-97, -60);
	}
	&-goChatList {
		@include wh2(151 28);
		@include bg-t(-231, 0);
	}
	&-goService {
		@include wh2(134 28);
		@include bg-t(-293, -60);
	}
}

.txt {
	&-spec {
		color: color($colors, nor, 2);
	}
	&-1 {
		color: #000;
		@include adjFontSize(21px);
		letter-spacing: 1px;
	}
	&-1_1 {
		color: #000;
		@include adjFontSize(24px);
		letter-spacing: 1px;
	}
	&-1_2 {
		color: #221815;
		@include adjFontSize(17px);
		letter-spacing: 1px;
	}
	&-1_3 {
		color: #221815;
		@include adjFontSize(17px, 1.8);
		letter-spacing: 2px;
	}
	&-1_4 {
		color: #000;
		@include adjFontSize(15px);
		letter-spacing: 1px;
	}
	&-2 {
		@extend %txt-2;
		&.btn {
			.futures_intro-item & {
				@extend %txt-2;
			}
		}
	}
	&-2_1 {
		color: white;
		@include adjFontSize(21px, 1.5);
		letter-spacing: 1px;
		font-family: $normal_font;
	}
	&-3 {
		color: #000;
		font-family: "MyriadProLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
		@include adjFontSize(24px);
		font-weight: normal;
	}
	&-3_1 {
		font-size: em(13);
		font-family: $normal_font;
	}
	&-4 {
		@include adjFontSize(35px);
		letter-spacing: 2px;
		font-weight: normal;
		font-family: $normal_font;
	}
	&-5 {
		@include adjFontSize(51px);
	}
	&-r1 {
		color: color($colors, nor, 2);
	}
	&-ff1 {
		font-family: $ff-MHeiHK;
	}
}

%txt-2 {
	color: white;
	@include adjFontSize(16px, 1.5);
	letter-spacing: 1px;
}

.link {
	&-1 {
		transition: all 0.3s $easeInOutCubic;
		border-bottom: 1px solid rgba(color($colors, nor, 2), 0);
		&:hover {
			border-bottom: 1px solid rgba(color($colors, nor, 2), 1);
		}
		&:active {
			@include hover;
		}
	}
	&-2 {
		position: relative;
		&:after {
			@include psudoClass;
			@include absolute($b:0, $l:0, $r:0);
			@include wh(0%, 1);
			@include bg(rgba(#000, 0));
			margin: auto;
			transition: all 0.3s $easeInOutCubic;
		}
		&:hover {
			&:after {
				width: 100%;
				@include bg(rgba(#000, 1));
			}
		}
	}
	&-3 {
		position: relative;
		&:after {
			@include psudoClass;
			@include absolute($b:0, $l:0, $r:0);
			@include wh(0%, 1);
			@include bg(rgba(color($colors, nor, 2), 0));
			margin: auto;
			transition: all 0.3s $easeInOutCubic;
		}
		&:hover {
			&:after {
				width: 100%;
				@include bg(rgba(color($colors, nor, 2), 1));
			}
		}
	}
}




button.icon {
	margin: 0;
	border: none;
}


.icon {
	&-rss {
		@include wh2(40);
		@include bg-i(-89, 0);
	}
	&-fasebook {
		@include wh2(40);
		@include bg-i(-89, -41);
	}
	&-googleplus {
		@include wh2(40);
		@include bg-i(-89, -82);
	}
	&-twitter {
		@include wh2(40);
		@include bg-i(-89, -123);
	}
	&-in {
		@include wh2(40);
		@include bg-i(-89, -164);
	}
	&-pinterest {
		@include wh2(40);
		@include bg-i(-89, -205);
	}
}