footer {
	position: relative;
	z-index: 1;
	width: 100%;
	&.global_ft {
		min-height: 145px;
		@include bg(#fff);
		// @include background-image(linear-gradient(#008ad8, #0066ba));
		@include rhythm-padding(2, 1);
		position: relative;
		section {
			&.col {
				
			}
		}
		.site_map {
			position: absolute;
			bottom: -5px;
			right: 5px;
		}
	}
	&.copyright {
		@include bg(#000);
		// @include background-image(linear-gradient(#0c141c, #424a54));
		p, a {
			color: #f7f8f8;
			@include adjust-font-size-to(11px, 2);
		}
		p {
			margin-bottom: 0;
		}
	}
}

.footer-sec {
	&.sec1 {
		margin-right: 1em;
		.footer-sec-txt {
			width: 120px;
		}
	}
	&.sec2 {
		.footer-sec-txt {
			margin-right: 3em;
			p:first-of-type {
				border-bottom: 1px solid #000;
			}
		}
	}
	&.sec3 {
		position: relative;
		margin-right: 1em;
		border: 1px solid #c9caca;
		.footer-sec-txt {
			width: 310px;
			height: 100%;
			padding: 0 0.6em;
		}
		.icon-like {
			border-right: 1px solid #c9caca;
		}
		a {
			@include absolute(0, $l:0);
			@include wh2();
			display: block;
		}
		&:hover {
			box-shadow: $boxShadowHover;
		}
	}
	&.sec4 {
		margin-right: 1.8em;
	}
}

.footer_row3 {
	@include rhythm-margins(0.6, 0.3);
}
address {
	font-style: normal;
	display: inline;
}

.footer_row2 {
	@include margin-trailer(0.6);
}
