#top {
	position: absolute;
	top: 0;
	z-index: 99;
	@include wh2(100% 7);
	@include bg(#d7000f);
}

/*========================================================================*\
		>>	global_hd  quick_bar  logo
\*========================================================================*/
header {
	&.global_hd {
		position: absolute;
		top: 7px;
		z-index: 50;
		@include wh(100%, 90px);
		@include bg('bg-header.png', 50%, 50%);
		background-size: cover;
		// @include background-image(linear-gradient(#00a1e9, #0086d1));
		padding: 0 1em;
		nav {
			float: right;
			// margin-left: 35%;
			// margin-right: 1%;
		}
	}// header.global_hd  END

	&#logo {
		@include wh2(LOGO png);
		position: absolute;
		top: 0;
		// right: 0;
		bottom: 0;
		left: 1em;
		margin: auto;
		a {
			@include wh;
			display: block;
		}
	}// header#logo  END
}
/*========================================================================*\
		>>	main_nav
\*========================================================================*/
.main_nav {
	height: 100%;
	// position: relative;
	ul {
		height: 100%;
	}
	li {
		&.quick_bar {
			@include VerticalAlign;
			margin: 0 2em;
			.login {
				a {
					@include wh2(80 16);
					@include bg-t(0, -85px);
				}
			}
		}// header.quick_bar  END
	}
	a {
		@include hide_txt;
	}
	&-item {
		@include VerticalAlign;
		margin: 0 1em;
		a, span {
			display: block;
			text-align: center;
		}
		@each $navItem, $w, $h, $x, $y in
			(item1, 94, 16, 0, 0),
			(item2, 96, 16, 0, -17px),
			(item3, 62, 16, 0, -34px),
			(item4, 63, 16, 0, -51px),
			(item5, 64, 16, 0, -68px){
			&.#{$navItem} {
				@include wh2($w $h);
				@include bg-t($x, $y);
			}
		}
	}// .main_nav-item  END

}

