#top {
	position: absolute;
	top: 0;
	z-index: 99;
	@include wh2(100% 7);
	@include bg(#d7000f);
}

#menu {
	display: none;
	@include respondTo(Mobile){
		@include absolute(0, $b:0, $r:0.8em);
		display: block;
		margin: auto;
	};
}

/*========================================================================*\
		>>	global_hd  quick_bar  logo
\*========================================================================*/
header {
	&.global_hd {
		position: absolute;
		top: 7px;
		// padding-top: 7px;
		z-index: 50;
		@include wh(100%, 90px);
		@include bg('bg-header.png', 50%, 50%);
		background-size: cover;
		// @include background-image(linear-gradient(#00a1e9, #0086d1));
		padding: 0 1em;
		@include respondTo(Mobile){
			position: fixed;
			top: 0;
			height: 50px;
			padding: 7px 0.5em 0;
		};
		nav {
			float: right;
			// margin-left: 35%;
			// margin-right: 1%;
		}
	}// header.global_hd  END

	&#logo {
		@include wh2(LOGO png);
		position: absolute;
		top: 0;
		// right: 0;
		bottom: 0;
		left: 1em;
		margin: auto;
		a {
			@include wh;
			display: block;
		}
		@include respondTo(Mobile){
			width: 75%;
			height: auto;
			padding-top: 13px;
		};
	}// header#logo  END
}
/*========================================================================*\
		>>	main_nav
\*========================================================================*/
.main_nav {
	height: 100%;
	// position: relative;
	@include respondTo(Mobile){
		@include absolute(50px, $l:0);
		width: 100%;
		height: auto;
		@include bg('bg-header.png', 50%, 50%, repeat-y);
		display: none;
		&.js-nav_open {
			display: block;
		}
	};
	ul {
		position: relative;
		height: 100%;
		@include respondTo(m){
			height: 100vh;
		};
	}
	li {
		&.quick_bar {
			@include VerticalAlign;
			margin: 0 2em;
			@include respondTo(m){
				top: 0;
				width: 100%;
				height: 40px;
				margin: 0;
				@include translateY(0);
			};
			.login {
				@include VerticalAlign;
				a {
					@include wh2(80 16);
					@include bg-t(0, -85px);
					margin: auto;
				}
			}
		}// header.quick_bar  END
	}
	a {
		@include hide_txt;
	}
	&-item {
		@include VerticalAlign;
		margin: 0 1em;
		@include respondTo(m){
			top: 0;
			float: none;
			width: 100%;
			height: 40px;
			margin: 1em 0;
			@include translateY(0);
			span.wrap {
				display: block;
				width: 100%;
				// height: 40px;
				// line-height: 40px;
			}
			a {
				height: 100%;
				margin: auto;
			}
		};
		a, span {
			display: block;
			text-align: center;
		}
		@each $navItem, $w, $h, $x, $y in
			(item1, 94, 16, 0, 0),
			(item2, 96, 16, 0, -17px),
			(item3, 62, 16, 0, -34px),
			(item4, 63, 16, 0, -51px),
			(item5, 64, 16, 0, -68px){
			&.#{$navItem} .main_nav-txt {
				@include wh2($w $h);
				@include bg-t($x, $y);
			}
		}
		.main_nav-txt {
			margin: auto;
			// @include VerticalAlign;
		}

		// &:hover {
		// 	@include bg(rgba(#000, 0.5));
		// }
	}// .main_nav-item  END

}

