@charset "UTF-8";

.service_page {
	.row4 {
		z-index: 0;
		&.fullbg {
			&>.bg {
				position: fixed;
				top: 0;
				z-index: 0;
				@include bgRWD('bg-about-row4.jpg', 1920, 1000);
			}
		}
		.cnt {
			padding-bottom: 2em;
		}
	}
	.txt_img-goService {
		margin: 0 auto 3em;
	}
	.row3 {
		.col-2 {
			width: 50%;
			float: left;
			padding-left: 2em;
		}
	}
}


.serviceCnt {
	.row2 {
		&.fullbg {
			&>.bg {
				position: absolute;
				top: 0;
				z-index: 0;
				@include wh2;
				@include bg('bg-about-row4.jpg');
				background-attachment: fixed;
				overflow: hidden;
			}
		}
	}
	.cnt {
		margin: 1em auto 3em;
	}
}

.service {
	&-category {
		.service1 {
			&-bg{
				@include wh2;
			}
			.service-txt {
				left: 0;
			}
		}
		.service2 {
			&-bg{
				@include wh2;
			}
			.service-txt {
				left: 0;
			}
		}
		.service3 {
			&-bg{
				@include wh2;
			}
			.service-txt {
				right: 0;
			}
		}
		.service4 {
			&-bg{
				@include wh2;
			}
			.service-txt {
				right: 0;
			}
		}
		.service-txt {
			@include absolute(0);
			@include wh2(50% 100%);
			@include bg(rgba(#000, 0.8));
			transition: all 0.3s ease(in-out-cubic);
			&-inner {
				@include absolute(0, 0, 0, 0);
				margin: auto;
			}
		}
	}
	&-col {
		position: relative;
		@include wh2(590 286);
		float: left;
		margin-left: 20px;
		margin-bottom: 20px;
		&:nth-of-type(2n+1) {
			margin-left: 0;
		}
		&>a {
			@include absolute(0, $l:0);
			z-index: 99;
			@include wh2;
			display: block;
		}
		&:hover {
			box-shadow: $boxShadowHover;
			img {
				@include scale(1.05);
			}
			.service-txt {
				width: 100%;
			}
		}
	}
	&-pic {
		img {
			transition: all 0.3s ease(in-out-cubic);
		}
	}
}


.iframe-rwd  {
     position: relative;
     padding-bottom: (500 / 1920) * 100%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
}
.iframe-rwd iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.concordInf {
	padding-right: 2em;
	.txt-1_2 {
		line-height: 2;
	}
	p:first-of-type {
		padding-bottom: 1.2em;
		margin-bottom: 1.2em;
		border-bottom: 1px solid #c9caca;
	}
}

.contact-form {
	li {
		width: 100%;
		margin-bottom: 0.8em;
		.input--df {
			display: block;
			position: relative;
			width: 100%;
		}
	}
	.frm__label {
		width: (140 / 568) * 100%;
	}
	.frm__field {
		width: ((568 - 140) / 568 ) * 100% - 1%;
		@include bg(#fff);
	}
	.frm__label, .frm__field {
		line-height: 30px;
	}
	textarea.frm__field {
		height: 180px;
		resize: none;
	}
	&-send {
		@include absolute($b:0, $r:2px);
		@include wh2(100 30);
		@include bg(#595757);
		border: none;
		color: #fff;
		line-height: 30px;
		text-align: center;
		&:hover {
			box-shadow: $boxShadowHover;
		}
	}
}

.sitemap-sec {
	padding-left: 2em;
	padding-right: 2em;
	.col-2 {
		width: 50%;
		float: left;
		&:first-of-type {
			padding-right: 20px;
		}
		&:nth-of-type(2) {
			padding-left: 20px;
		}
	}
	li {
		width: 100%;
		border-bottom: 1px solid #c9caca;
		padding-bottom: 0.8em;
		margin-bottom: 0.8em;
	}
	a {
		color: #000;
		&:hover {
			color: color($colors, nor, 2);
		}
	}
}
